TELEGRAM_BOT_TOKEN=""

# localhost
SELLER_ADDRESS=0x70997970C51812dc3A010C7d01b50e0d17dc79C8
SELLER_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
AMANITA_REGISTRY_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
INVITE_NFT_CONTRACT_ADDRESS=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
PRODUCT_REGISTRY_CONTRACT_ADDRESS=0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9

INTEGRATION_STORAGE="mock"

WEB3_PROVIDER_URI="http://127.0.0.1:8545"
APP_ROOT_DIR="bot"

AMANITA_API_HMAC_SECRET_KEY=""
AMANITA_API_KEY="ak_seller_node_amanita_iveta_launch_september_2025"
AMANITA_API_SECRET=""
AMANITA_API_URL="http://localhost:8000"

WALLET_APP_URL="https://0e3d247dd47c.ngrok-free.app"

STORAGE_TYPE="pinata"

STORAGE_COMMUNICATION_MODE="sync"

# ArWeave Configuration
ARWEAVE_PRIVATE_KEY=

PINATA_API_KEY=
PINATA_API_SECRET=
PINATA_JWT=
PINATA_NEW_API_KEY=

NODE_ADMIN_PRIVATE_KEY= 
